<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="tests/bootstrap.php"
>
    <testsuite name="DoctrineElastic Tests">
        <directory>./tests/DoctrineElastic/Tests</directory>
    </testsuite>
</phpunit>