<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        bootstrap="./vendor/autoload.php"
>
    <testsuite name="DoctrineElastic Tests">
        <directory>./tests/DoctrineElastic/Tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">./data</directory>
        </blacklist>
    </filter>
</phpunit>
